# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go-mac-x64-release

on:
  push:
    tags:
      - "v*"

jobs:

  build:
    name: "Automatic releasing"
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.22
    - name: Run build script
      run: ./make_install.sh
      shell: bash
    - name: Install dependencies
      run: go get .
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        title: darwin-amd64
        files: |
          build/jr